---
layout: "base.njk"
---

<h2 class="w3-xxlarge">Welcome to ict.rocks!</h2>
<p class="w3-xlarge w3-text-gray"><i>The place to show some love to the technology we use everyday.</i></p>
<p>Under construction, please check back later.</p>

